

.globalContainer{

    padding-block: 1%;
    padding-inline: 7%;

}

.buttonAdd{
    margin-bottom: 20px;
    margin-left: auto;
    padding-bottom: 20px;
}

.imgSlide{
    max-height: 40%;
    max-width: 30%;
}