.UsersList {
  color: black;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.top-links {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.edit-icon {
  color: #2365f5;
  font-size: 1.5rem;
  text-decoration: none;
}
.delete-icon {
  color: #ce0404;
  font-size: 1.5rem;
  text-decoration: none;
}
