.donation-container{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1rem;
    height:calc(40rem - 20px);
    width: 80vw;
}

.iframe{
    width:60rem;
    height:40rem;
   
}

.iframe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center

}

.donations-form {
    display:block;
    width:80%;
   justify-content: center;
   align-items: center;
    margin: 0.6rem 0; 
}

.donations-form input{
    display:block;
    margin: 0.6rem 0;
    padding:0.5rem;
    width:100%;
    border-radius: 10px;
}

p{
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}
h1{
    width: 100%;
    text-align: center;
}

.btn-container{
    margin: 0 auto;
    text-align: center;
    width:100%;
}

.btn-donaciones{
    margin-top:1rem !important;
    text-align: center;
    width:50%;
}




