.h1-heading{
    text-decoration: underline rgb(66, 144, 218) 0.5rem;
}

.flexContainer{
    position: relative;
    top: 0;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    height: 100%;
    margin-top:2rem;

}

.imageContainer{
    margin-right: 7px;
    width: 30%;
    border-radius: 7px;
    
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover; 
}

.textoContainer{
    width: 70%;
    height: 100%;
    margin-inline: 20px;
}

.divimg{
    width: 100%;
    object-fit: none;
    object-position: center;

}

.spinner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
}

.containerGeneral{
    width: 100%;
    min-height: 400px;
    position: relative;
}

.containerData{
    margin-inline: 7%;
}

.container-twitter{
    border: 0.2rem dashed rgba(128, 128, 128, 0.411);
    background-color: rgba(3, 103, 197, 0.733);
    color:white;
    height: 60vh;
    border-radius:20px;
    padding:0.6rem;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    margin:4rem 2rem 0 2rem;
}

.twitter-tittle{
    margin-bottom: 0.8rem;
}

.novedades-twitter{
    margin: 2rem 0 4rem 0;
    padding:1rem;
}

.h4-twitter{
    margin-bottom:1rem;
}

@media (max-width: 1270px) {
    
    .container-twitter{
        display:none;
    }


  }