

.flexContainer{
    position: relative;
    top: 0;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    height: 100%;

}

.imageContainer{
    margin-right: 7px;
    width: 30%;
    border-radius: 7px;
    
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover; 
}

.textoContainer{
    width: 70%;
    height: 100%;
    margin-inline: 20px;
}

.divimg{
    width: 100%;
    object-fit: none;
    object-position: center;

}

.spinner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
}

.containerGeneral{
    width: 100%;
    min-height: 400px;
    position: relative;
}

.containerData{
    margin-inline: 7%;
}