p {
    margin-inline: 20px;
}

.flexContainer{
    position: relative;
    top: 0;
    display: flex;
    align-content: space-around;
    flex-direction: row;
            

}

.imageContainer{
    width: 50%;

    

}

.divimg{
    width: 100%;
    object-fit: none;
    object-position: center;

}

.spinner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
}

.containerGeneral{
    position: relative;
}