.container-body-contact{
    box-sizing: border-box;
    padding: 20px;
    min-width: 100vw;
    height:80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom:5rem;
}

.contact-title{
   margin-top:2rem;

}
.contact-form{
    width: 65%;
    text-align: left;
}


.contact-data{
    background-color: #f8fc74;
    border-radius: 20px;
    flex-wrap: nowrap;
    padding:2rem 5rem;
    margin: 1rem;
    height: 20%;
    text-align: center;
}
.list-contact{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.li-contact{
    width: 50%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.contact-icon, .contact-link{
    display: inline;
    margin-top:0.5rem;
}
.contact-link{
    color: #212121;
    text-decoration: none;
}



@media (max-width: 600px) {
    .container-body-contact {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contact-form {
        width: 100%;
    }
        .contact-data {
            width: 100%;
        }


}