
.table-list{
    margin:2rem 0 ;
    border: 0.08rem solid lightgray;
}

.table-head{
    background-color:black;
}

.table-cell{
    color: white !important;
}

.Activities{
    margin: 0 8rem;
}

.table-row:nth-child(odd){
    background-color:#f5f5f5;
}

.img-list{
    max-width: 4rem;
}

.table-icon{
    color:gray;
    cursor:pointer;
}

.table-link-create{
    display: flex;
    align-items: center;
}
.table-btn-create{
    margin-top:2rem !important;
}

/* Responsive- Mobile */

@media (max-width: 840px) {
    
    .Activities{
        margin: 0 2rem;
    }
    
  }