@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.form-container, .register-form{
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main-container-form{
    margin: 0px;
    display: flex;
    max-width: 100vw;
    height: 100vh;

}

.img-form-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.img-form-container .img-form {
    object-fit: cover;
}

.question-p {
    display: inline;
}

.nav-link{
    text-decoration: none;
    font-weight: bold;
    margin-left: 2px;
    color: #ff0000;
}

/* Utilicé !important para sobreescribir estilos de MaterialUI */
.submit-btn{
background-color: #ff0000 !important;
}

/* Form backoffice UserForm */
.title-back{
    font-family: 'Poppins', sans-serif;
    margin-top:3rem;
}
.form-back{
    padding-top:2rem;
    font-family: 'Poppins', sans-serif;
    width: 40vw;
}
.form-back-submit-btn{
    background-color: #0094d2;
    color:white;
    font-size: 1.2rem;
    padding:0.2rem 0;
    margin: 0 auto;
    cursor: pointer;
    width:10vw;
    border: none;
    box-shadow: .2rem .2rem  #27282946;
    border-radius: 1rem;
}

.input-back{
    border-radius: 1rem;
    padding:0.25rem;
    padding:0.5rem;
    outline: 0.1rem solid rgba(0, 0, 0, 0.185);
    border: none;
}

.input-back-file{
    border-radius: 1rem;
    padding:0.25rem;
    padding:0.5rem;
    outline: none;
    border: none;
}

.title-field-users{
    text-align: left;
    margin-top: 0rem;
    margin-bottom:0rem;
}


@media (max-width: 600px) {
    .img-form {
        display: none;
    }
}


