
.form-container, .register-form{
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-container-form{
    margin: 0px;
    display: flex;
    max-width: 100vw;
    height: 100vh;

}

.img-form-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.img-form-container .img-form {
    object-fit: cover;
}

.question-p {
    display: inline;
}

.nav-link{
    text-decoration: none;
    font-weight: bold;
    margin-left: 2px;
    color: #ff0000;
}

/* Utilicé !important para sobreescribir estilos de MaterialUI */
.submit-btn{
<<<<<<< HEAD

background-color: #ff0000 !important;
=======
    background-color: #ff0000 !important;
>>>>>>> main
    width: 50%;
    margin: 0 auto;
    background-color: #2E86C1;
    padding: 10px 15px;
    border: none;
    color: #fff;
<<<<<<< HEAD
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #3498DB;
}

=======
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #3498DB;
}

>>>>>>> main
.submitButton{
    width: 50%;
    margin: 0 auto;
}


@media (max-width: 600px) {
    .img-form {
        display: none;
    }
<<<<<<< HEAD
}



=======
}
>>>>>>> main
