
.form-container, form{
    width: 60%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.submit-btn{
    background-color: #ff0000 !important;
    color: #fff;
}

.container-form{
margin: 0px;
display: flex;
max-width: 100vw;
height: 100vh;

}

.img-form {
width: 40%;
height: 100%;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}

.img-form img {
    object-fit: cover;
}

