.members-list {
  margin: 40px;
}

.member-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.member-item img {
  object-fit: cover;
}

.member-item{
  padding: 2.2rem;
}