@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

.footer-front{
    font-family: 'Poppins', sans-serif;
    background-color: #C0C0C0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 559px;
    width: 100vw;
    padding-bottom: 10rem;
    box-sizing: content-box;
}

.hr-logo, .hr-nav{
    background-color: black;
    width:100vw;
    height:0.25rem;
}

.logo-container{
    position:relative;
    z-index: 899;
}

.hr-logo{
    position:absolute;
    top:3.5rem;
    z-index: -9999;
}

.img-logo-footer{
    background-color: #C0C0C0;
    width: 250px;
    padding:0 4rem;
    width:250px;
}

.li-roots, .li-socials{
    list-style:none;
}

.ul-roots{
    margin-bottom: 3rem;
    margin-top: 0;
    padding-left: 1rem;
}

.ul-socials{
    padding-bottom: 1rem;
}

.li-roots .a-roots{
    padding-right: 2rem;
    text-decoration: none;
    cursor:pointer;
    color:black;
}

.li-socials{
    padding-right: 1.5rem;
    margin-top: 2rem;
}

.ul-roots, .ul-socials{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Responsive */

@media (max-width: 400px) {
    
    .hr-logo, .hr-nav{
        background-color:#FFFFFF;
    }

    .img-logo-footer{
        padding:0 2rem;
        width: 180px;
    }

    .hr-logo{
        position:absolute;
        top:3rem;
        z-index: -9999;
    }
    
    .ul-roots{
        margin-bottom: 1rem;
    }

    .li-roots{
        font-size:0.8rem;
        padding-bottom: 0.5rem;
    }

    .footer-front{
        padding-bottom: 4rem;
    }

  }