@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

.footer-front{
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    background-color: #C0C0C0;
    text-align: center;
    padding-bottom: 10rem;
    max-height: 559px;
    width: 100vw;
}

.hr-logo, .hr-nav{
    background-color: black;
    width:100vw;
    height:0.3rem;
}

.logo-container{
    position:relative;
    z-index: 899;
}

.hr-logo{
    position:absolute;
    top:6rem;
    z-index: -9999;
}

.img-logo{
    background-color: #C0C0C0;
    padding:0 4rem;
}

.li-roots, .li-socials{
    list-style:none;
}

.ul-roots{
    margin-bottom: 3rem;
    margin-top: 0;
}

.ul-socials{
    padding-bottom: 1rem;
}

.li-roots .a-roots{
    padding-right: 2rem;
    text-decoration: none;
    cursor:pointer;
    color:black;
}

.li-socials{
    padding-right: 1.5rem;
    margin-top: 2rem;
}

.ul-roots, .ul-socials{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Responsive- Mobile */

@media (max-width: 400px) {
    
    .hr-logo, .hr-nav{
        background-color:#FFFFFF;
    }

    .img-logo{
        padding:0 2rem;
    }
    
    .ul-roots{
        margin-bottom: 1rem;
    }

    .li-roots{
        font-size:0.8rem;
        padding-bottom: 0.5rem;
    }

    .footer-front{
        height: 267px;
        font-weight: 300;
        padding-bottom: 12rem;
    }

  }