.testimonials-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin:2rem;
  }
  
  .testimonials-item {
    margin: 10px;
  }
  
  .h1-testimonials{
    margin-top: 2rem;
  }
  
  .testimonials-general-container{
    height:80%;
  }