.news-form-container{
    width: 100vw;
    padding-block: 50px;
}

.news-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    width: 70vw;
    margin: 0px auto;
    gap: 10px;
}

.title-input{
    
}

@media (max-width: 600px) {
    .news-form {
        width: 85vw;
    }

}